* {
	box-sizing: border-box;
}

:root {
	--theme-main: #bbe;
	--theme-hl: white;
	--theme-emboss: linear-gradient(var(--theme-hl), var(--theme-main));
	--theme-relief: linear-gradient(var(--theme-main), var(--theme-hl));

	--gray-main: #ccc;
	--gray-hl: #fff;
	--gray-emboss: linear-gradient(var(--gray-hl), var(--gray-main));
	--gray-relief: linear-gradient(var(--gray-main), var(--gray-hl));

	--border-color: #aaa;
	--table-line-color: #ccc;

	--selected-hl: #ffc;
	--corner-radius: 10px;
}

body {
	max-width: 900px;
	margin: 2rem auto;
}

table {
	width: 100%;
}
table * {
	margin: 0;
	padding: 10px 3px;
	border-radius: var(--corner-radius);
}

th {
	background-color: var(--theme-main);
}

tr>td:first-of-type {
	text-align: center;
}
tr.highlight {
	background-color: var(--selected-hl);
}
td {
	border: 2px solid #ccc;
}

button {
	background: var(--gray-emboss);
	border: 1px solid var(--border-color);
	border-radius: var(--corner-radius);
	height: 2rem;
	width: auto;
	padding: 0.5rem;
}
button:active {
	background: var(--gray-relief);
}
.themed {
	background: var(--theme-emboss);
}
.themed:active {
	background: var(--theme-relief);
}


input[type="checkbox"]#new-book {
	-webkit-appearance: none;
	position: relative;
	border: 1px solid var(--border-color);
	border-radius: var(--corner-radius);
	height: 2rem;
	width: auto;
	padding: 0.5rem;
}
input[type="checkbox"]#new-book:focus {
	outline: none;
}
input[type="checkbox"]#new-book:checked {
	background: #aaa;
}
input[type="checkbox"]#new-book::after {
	content: "NEW BOOK";
	position: relative;
	top: calc(50% - 0.5rem);
}
input[type="checkbox"]#new-book:checked::after {
	color: #ddd;
}

#new-book-form {
	display: block;
/*position: absolute;*/
	overflow: hidden;
	background: white;
	transition: height 0.3s;
	width: 20rem;
	line-height: 1.5rem;
}
form {
	text-align: right;
}
input[type="checkbox"]#new-book ~ #new-book-form {
	height: 0px;
}
input[type="checkbox"]#new-book:checked ~ #new-book-form {
	height: 11rem;
}

fieldset {
	border-radius: var(--corner-radius);
}
